# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
nums=[1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [17]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [18]:
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [35]:
# CODE HERE
phrase ="Don't panic!"
name=[]
for y in phrase:
    name.append(y)
print(name)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [36]:
name.pop()
name

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [37]:
# CODE HERE
a=[]
b=[]
for letters in name:
    if letters=="D" or letters=="n" or letters=="p" or letters=="a":
        b.append(letters)
    else:
        a.append(letters)
a.extend(b)
print(a)

['o', "'", 't', ' ', 'i', 'c', 'D', 'n', 'p', 'a', 'n']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [40]:
# CODE HERE
list=['p', 'a', 'n', 'D', 'a']

In [41]:
"".join(list)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [45]:
# CODE HERE
t=(31,24,35,85)
print("data type {}".format(type(t)))
print(t)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [53]:
# CODE HERE
list=[31,24,35,85]
list.pop(2)
print(list)

[31, 24, 85]

**Extent** tuple (85,19)

In [55]:
# CODE HERE
t1=list
t2=[85,19]
t1+t2

[31, 24, 85, 85, 19]

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [67]:
# CODE HERE
tpl = ('i','n''n','0')
"i" in tpl

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [70]:
# CODE HERE
list = ['Hello',100,[],'innomatics']
list.remove([])
list.insert(2,[200])
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [74]:
# CODE HERE
tpl =("Innomatics")
a=str(tpl)
lst=[]
for i in a:
    lst.append(i)
lst.reverse()
print(lst)

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [77]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
num=int(input("Enter the integer value: "))
new=[]
for elements in tpl:
        lst=list(elements)
        lst.append(num)
        tup=tuple(lst)
        new.append(tup)
print(new)

Enter the integer value: 100
[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [2]:
# CODE HERE
#tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
num=int(input("Enter the integer value: "))
new=[]
for elements in tpl:
        lst=list(elements)
        lst2=lst.pop()
        add=lst.append(num)
        tup=tuple(lst)
        new.append(tup)
print(new)

Enter the integer value: 100
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [1]:
# CODE HERE
num='5 2 3 6 6 5'
a=num.split()
b=[]
for i in a:
    c=int(i)
    b.append(c)
b.sort()
x=max(b)
c=[]
for j in b:
    if j!=x:
        c.append(j)
print(num)
print("second heighst is : {}".format(max(c)))

5 2 3 6 6 5
second heighst is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [12]:
# CODE HERE
lst=[12,24,35,70,88,120,155]
s=[]
for num in range(0,len(lst)):
    if num!=0 and num!=4 and num!=5:
        s.append(lst[num])
print(s)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [7]:
tup=(1,2,3,4,5,6,7,8,9,10)
lst=list(tup)
half=int(len(lst)/2)
n1=[]
n2=[]
for num in range(0,len(lst)):
    if num<half:
        n1.append(lst[num])
    else:
        n2.append(lst[num])
N1=tuple(n1)
N2=tuple(n2)
print("{} {}".format(N1,N2))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [9]:
tup=(1,2,3,4,5,6,7,8,9,10)
lst=list(tup)
new=[]
for num in lst:
    if num%2==0:
        new.append(num)
tpl=tuple(new)
print(tpl)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
Both Lists and Tuples are used to store data
But the main difference between them was the Lists can be mutable but Tuples are immutable
which means once tuples are created it cant be changed
But where as list can be changed accordingly

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution
append : this is a method used for list to append an single element at the end of a list.
extend : this is also a method used for list, but here we can add n number of items into a list without replacing anything

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution
pop() : this is a method used for list to remove an single element at the end of a list or given indexed value position.
remove() : this is also a method used to remove an element from an list, But here you need to specify that particular element.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)