# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [14]:
# CODE HERE
person1={'Name':'Easter','gender':'male','Location':'jntu,Hyderabad','Occupation':'Data Scientist'}
person1

{'Name': 'Easter',
 'gender': 'male',
 'Location': 'jntu,Hyderabad',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [15]:
# CODE HERE
keys=[]
for names in person1:
    keys.append(names)
print(keys)

['Name', 'gender', 'Location', 'Occupation']

> **`Question:` Remove Location in person1**

In [16]:
# CODE HERE
person1.pop("Location")
print(person1)

{'Name': 'Easter', 'gender': 'male', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [19]:
# CODE HERE

person2={"Name":"Eastersiddu","Gender":"Male","Occupation":"Data Scientist","Age":27}
person2

{'Name': 'Eastersiddu',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 27}

> **`Question:` Print the output as show below**

In [20]:
# CODE HERE
a="==================== person1 ===================="
b="==================== person2 ===================="
print("{}".format(a))
print("{}".format(person1))
print("{}".format(b))
print("{}".format(person2))

==================== person1 ====================
{'Name': 'Easter', 'gender': 'male', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Name': 'Eastersiddu', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [21]:
# CODE HERE
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
a.pop(1)
a.pop(2)
a.pop(6)
print(a)

{3: 9, 4: 16, 5: 25, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [25]:
# CODE HERE
d={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
n=[]
for num in d:
    n.append(d[num])
    v=n.sort()
    n.reverse()
print(n)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [26]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
a={}
for i in range(1):
    a.update(dict1)
    a.update(dict2)
    a.update(dict3)
print(a)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

In [30]:
sample_dict = {
 'emp1': {'name': 'easter', 'salary': 7500},
 'emp2': {'name': 'teja', 'salary': 8000},
 'emp3': {'name': 'ameem', 'salary': 6500}
}
sample_dict.update({'emp3': {'name': 'manoj', 'salary': 8500}})
sample_dict

{'emp1': {'name': 'easter', 'salary': 7500},
 'emp2': {'name': 'teja', 'salary': 8000},
 'emp3': {'name': 'manoj', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [31]:
# CODE HERE
sampleDict = {
    "class": {
      "student": {
        "name": "Mike",
        "marks": {
           "physics": 70,
            "history": 80
           }
        }
     }
  }

a=sampleDict["class"]
b=a["student"]
c=b["marks"]
d=c["history"]
print(d)

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [34]:
# CODE HERE
a={'Gender': 'Male',
'Location': 'Nizampet, Hyderabad',
'Name': 'Easter',
'Occupation': 'Data Scientist'}

In [35]:
a

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Easter',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [46]:
database={"teja":1234,"ameem":9848,"keerthi":1567}
username=input("Enter your user name here : ")
password=int(input("Password :"))
for names in database:
    if names==username and database[names]==password:
        print("hello {}".format(username))
        break
    elif username not in database:
        print("\nSorry! couldn't able to find your username in our data base\n\nDo you want to add your username as {} to the data")
        yrn=input("type yes or no here : ")
        if yrn=="Yes" or yrn=="yes":
            database.update({username:password})
            print("\nYou have successfully registered into our database")
            print("\n",database)
            break
        elif yrn=="no" or yrn=="No":
            print("\nThankyou {}\nhave a nice day".format(username))
            break

Enter your user name here : eastersiddu
Password :1609

Sorry! couldn't able to find your username in our data base

Do you want to add your username as {} to the data
type yes or no here : y

Sorry! couldn't able to find your username in our data base

Do you want to add your username as {} to the data
type yes or no here : yes

You have successfully registered into our database

 {'teja': 1234, 'ameem': 9848, 'keerthi': 1567, 'eastersiddu': 1609}